nav {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    padding: 20px;
    border: 1px solid #ccc;
    border-left: 0;
    border-top: 0;
    border-bottom: 0;
}

ul {
    padding-left: 20px;
}

div.wrapper {
    display: flex;
    flex-direction: row wrap;
    gap: 3rem;
}