<div class="wrapper">
  <nav>
    <div>
      <b>Multiplication</b>
      <ul>
        <li><a routerLink="/multiplication/imperative" routerLinkActive="active"
            ariaCurrentWhenActive="page">Imperative</a></li>
        <li><a routerLink="/multiplication/rxjs" routerLinkActive="active" ariaCurrentWhenActive="page">Rxjs</a>
        <li><a routerLink="/multiplication/signal" routerLinkActive="active" ariaCurrentWhenActive="page">Signal</a>
        </li>
      </ul>
    </div>
    <div>
      <b>Client</b>
      <ul>
        <li><a routerLink="/client/signal" routerLinkActive="active"
            ariaCurrentWhenActive="page">Signal</a></li>
      </ul>
    </div>
  </nav>

  <div>
    <router-outlet></router-outlet>
  </div>
</div>